.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.vh-100{
height: 78.9vh !important;
}
.custom{
    margin-top: 6rem !important;
}
.mandate{
    color: red;
}
small{
    color: red;
}